body {
  background-image: url("../img/burgers.png")
}

li {
  padding: 5px;
  margin: 5px;
  background: #cfcfcf;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(150, 150, 150);
}

.form-group {
  margin-bottom: 5px;
}

footer {
  text-align: center;
  margin: 20px;
}